<form class="form-inline" method="POST" action="{{ url_for('result_arte_categories') }}">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Veuillez choisir une catégorie : </span>
                <select name="comp_select" class="selectpicker form-control">
                    {% for o in data %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
        </div>
        <button type="submit" class="btn btn-default">OK</button>
    </div>
</form>